<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhuffei.ffei.mapper.GoodsMapper">

    <select id="listRecentGoods" resultType="zhuffei.ffei.entity.GoodsUserVO">
        select goods.id,goods.uid,goods.name,goods.goods_des des,goods.price,goods.type,goods.state,
        goods.location,goods.img1,goods.img2,goods.img3,goods.img4,goods.img5,goods.img6 ,goods.ratio,
        goods.browse,goods.create_time createTime,goods.update_time updateTime,
        user.avator,user.name userName
        from goods goods left join user on goods.uid = user.id  where goods.is_deleted = 0 and goods.state = 1 order by goods.create_time desc limit ${(pageNumber-1)*pageSize},#{pageSize}
    </select>

    <select id="getBanner" resultType="zhuffei.ffei.entity.GoodsUserVO">
        select  goods.id ,goods.name,goods.img1 from goods join banner on goods.id = banner.gid where goods.is_deleted = 0 and  goods.state =1 and banner.start_time &lt; CURRENT_TIME and banner.end_time &gt; CURRENT_TIME
    </select>
    <select id="getRollText" resultType="zhuffei.ffei.entity.GoodsUserVO">
    select  goods.id ,goods.name from goods join roll_text on goods.id = roll_text.gid where goods.is_deleted = 0 and  goods.state =1 and roll_text.start_time &lt; CURRENT_TIME and roll_text.end_time &gt; CURRENT_TIME
  </select>

    <select id="getGoods" resultType="zhuffei.ffei.entity.GoodsUserVO">
    select goods.id,goods.uid,goods.name,goods.goods_des des,goods.price,goods.type,goods.state,
        goods.location,goods.img1,goods.img2,goods.img3,goods.img4,goods.img5,goods.img6 ,
        goods.browse,goods.create_time createTime,goods.update_time updateTime,
        user.avator,user.name userName,user.accid
        from goods goods left join user on goods.uid = user.id
        where goods.id = #{gid}
  </select>
    <update id="viewGoods">
    update goods set browse = browse + 1 where  id = #{gid}
  </update>

    <select id="listCommentByGid" resultType="zhuffei.ffei.entity.CommentUserVO">
    SELECT comment.id,comment.uid,comment.comment,comment.create_time,user.avator,user.name userName,comment.gid from comment,user,goods
     where comment.gid = goods.id  and comment.uid = user.id and comment.is_delete = 0 and comment.gid = #{gid}

  </select>

    <select id="searchGoods" resultType="zhuffei.ffei.entity.GoodsUserVO">
    SELECT goods.id,goods.uid,goods.name,goods.goods_des des,goods.price,goods.type,goods.state,
        goods.location,goods.img1,goods.img2,goods.img3,goods.img4,goods.img5,goods.img6 ,goods.ratio,
        goods.browse,goods.create_time createTime,goods.update_time updateTime,
        user.avator,user.name userName FROM goods,user WHERE goods.uid = user.id and  goods.is_deleted = 0 and  goods.state =1 and  MATCH(goods.name,goods.goods_des) AGAINST(#{param} IN BOOLEAN MODE)
  </select>
    <select id="listFocusGoods" resultType="zhuffei.ffei.entity.GoodsUserVO">
         select goods.id,goods.uid,goods.name,goods.goods_des des,goods.price,goods.type,goods.state,
        goods.location,goods.img1,goods.img2,goods.img3,goods.img4,goods.img5,goods.img6 ,goods.ratio,
        goods.browse,goods.create_time createTime,goods.update_time updateTime,
        user.avator,user.name userName
        from goods,user,focus where goods.uid = focus.focused_id and user.id = focus.focused_id and goods.is_deleted = 0 and goods.state = 1 and focus.focuser_id = #{uid} order by goods.create_time desc limit ${(pageNumber-1)*pageSize},#{pageSize}
  </select>
    <update id="banGoods">
        update goods set state = -1 where id = #{gid}
    </update>

    <select id="checkWall" resultType="java.lang.Integer">
        select count(*) from roll_text,banner where
 (roll_text.gid = #{gid} and roll_text.end_time>CURRENT_TIME())
 or (banner.gid = #{gid}
 and banner.end_time>CURRENT_TIME())
    </select>
    <insert id="upWallBanner">
        insert into banner(gid,end_time) values (#{gid},date_add(now(),   INTERVAL   1   day))
    </insert>
    <insert id="upWallText">
        insert into roll_text(gid,end_time) values (#{gid},date_add(now(),   INTERVAL   1   day))
    </insert>
    <select id="getState" resultType="java.lang.Integer">
        SELECT state from goods where id = #{gid}
    </select>
    <update id="setState">
        update goods set state = #{state} where id = #{gid}
    </update>
</mapper>